* {
  margin: 0;
}

.nav__links {
  display: flex;
  justify-content: space-between;
}

.nav__container {
  display: flex;
}

.nav__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.nav__form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 50px;
  padding: 20px;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
}
